Repository TomerFi/aioswitcher, pull requests merged in 2021-09, with the labels that each got.

#341 bugfix: received datagram from an unknown source
  src/aioswitcher/bridge.py
Labels: status: needs review, size: xs, scope: sources

#342 test: update test_an_unknown_datagram
  tests/test_device_parsing.py
Labels: size: xs, scope: tests

#343 build: bump version to 2.0.5
  pyproject.toml
Labels: status: needs review, size: xs

#348 Fix get state
  src/aioswitcher/api/__init__.py
  tests/test_api_tcp_client.py
Labels: size: l, scope: tests, scope: sources

#352 ci: removed legacy shell scripts
  .licenserc.json
  deploy/create_changelog.sh
  deploy/get_next_bump.sh
  deploy/get_next_dev_iteration.sh
Labels: status: needs review, size: l
