Repository TomerFi/aioswitcher, pull requests merged in 2022-10, with the labels that each got.

#559 chore: switched codebase to strict typing
  py.typed
  pyproject.toml
  scripts/control_device.py
  scripts/discover_devices.py
  src/aioswitcher/api/__init__.py
  src/aioswitcher/api/messages.py
  src/aioswitcher/api/packets.py
  src/aioswitcher/api/remotes.py
  src/aioswitcher/bridge.py
  src/aioswitcher/device/__init__.py
  src/aioswitcher/device/tools.py
  src/aioswitcher/schedule/tools.py
Labels: size: l, status: review started

#560 build: Update the minimal required Poetry version
  pyproject.toml
Labels: status: approved, size: xs

#561 chore: Avoid get_event_loop() deprecation warning in discover_devices.py
  scripts/discover_devices.py
Labels: status: approved, size: xs, hacktoberfest-accepted

#566 build: fixed docs building tasks
  pyproject.toml
Labels: status: needs review, size: xs, hacktoberfest-accepted

#565 Updated docs
  README.md
  docs/usage.md
Labels: size: s, status: review started, hacktoberfest-accepted

#567 build: introduced gnu make
  .editorconfig
  .github/CONTRIBUTING.md
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/stage.yml
  Makefile
  pyproject.toml
Labels: status: approved, size: l, hacktoberfest-accepted

#570 docs: better community docs
  .github/CODE_OF_CONDUCT.md
  .github/auto-me-bot.yml
  CONTRIBUTING.md
  README.md
Labels: status: needs review, size: l, hacktoberfest-accepted

#571 chore: remove redundant license header verify tools
  .github/workflows/pr.yml
  .licenserc.json
  Makefile
Labels: status: needs review, size: s, hacktoberfest-accepted

#573 docs: added new update argument for control_thremostat script to docs
  docs/scripts.md
Labels: status: approved, size: xs

#575 chore: avoid get_event_loop() deprecation warning in control_device.py
  scripts/control_device.py
Labels: status: approved, size: m, hacktoberfest-accepted

#578 docs: update control_device script examples
  docs/scripts.md
  scripts/control_device.py
Labels: status: approved, size: m, hacktoberfest-accepted

#579 docs: install local development version using pip
  CONTRIBUTING.md
Labels: status: approved, size: s, hacktoberfest-accepted

#584 feat: add breeze remote on_off_type property
  src/aioswitcher/api/remotes.py
Labels: status: approved, size: xs
