Repository TomerFi/aioswitcher, pull requests merged in 2022-07, with the labels that each got.

#515 docs: replacing documentation platform from sphinx to mkdocs.
  .github/CONTRIBUTING.md
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .gitignore
  .yamllint
  docs/codedocs.md
  docs/codedocs.rst
  docs/conf.py
  docs/index.md
  docs/index.rst
  docs/install.md
  docs/install.rst
  docs/known_words.txt
  docs/scripts.md
  docs/scripts.rst
  docs/spelling_wordlist.txt
  docs/usage.md
  mkdocs.yml
  poetry.lock
  pyproject.toml
  scripts/discover_devices.py
  src/aioswitcher/api/__init__.py
  src/aioswitcher/bridge.py
Labels: status: approved, size: xxl

#492 Handle special swing
  scripts/control_device.py
  src/aioswitcher/api/__init__.py
  tests/testresources/breeze_data/ELEC7022_INVALID.json
Labels: status: approved, size: m

#524 test: increased coverage to 100% by covering get_swing_command
  src/aioswitcher/api/__init__.py
  tests/test_api_tcp_client.py
  tests/testresources/breeze_data/SAKA_25.json
Labels: status: needs review, size: xxl

#525 docs: aligned documentation with the new devices support
  README.md
  docs/scripts.md
  docs/usage.md
  scripts/control_device.py
  src/aioswitcher/api/__init__.py
Labels: status: approved, size: l
