Repository TomerFi/aioswitcher, pull requests merged in 2023-04, with the labels that each got.

#642 feat: include bridge port 10002, used in new devices in broadcast discovery
  docs/scripts.md
  scripts/discover_devices.py
  src/aioswitcher/bridge.py
Labels: status: approved, size: s

#651 fix: remove deprecated codedov package
  poetry.lock
  pyproject.toml
Labels: status: needs review, size: xs

#649 feat: include bridge port 10003 for type2 devices
  docs/scripts.md
  scripts/discover_devices.py
  src/aioswitcher/bridge.py
Labels: status: changes requested, size: s
