Repository TomerFi/aioswitcher, pull requests merged in 2024-01, with the labels that each got.

#724 fix: device stop working because lacking of device_key
  docs/scripts.md
  scripts/control_device.py
  scripts/get_device_login_key.py
  src/aioswitcher/api/__init__.py
  src/aioswitcher/api/packets.py
  src/aioswitcher/bridge.py
  src/aioswitcher/device/__init__.py
  tests/test_api_packet_crc_signing.py
  tests/test_api_tcp_client.py
  tests/test_device_dataclasses.py
Labels: status: approved, size: l

#716 chore: added script and utility method for token retrieval
  poetry.lock
  pyproject.toml
  scripts/get_token.py
  src/aioswitcher/device/__init__.py
  src/aioswitcher/device/tools.py
  tests/test_device_tools.py
Labels: status: approved, size: l

#730 fix: runner-support-rebase
  docs/scripts.md
  poetry.lock
  pyproject.toml
  scripts/control_device.py
  scripts/get_device_login_key.py
  src/aioswitcher/api/__init__.py
  src/aioswitcher/api/packets.py
  src/aioswitcher/bridge.py
  src/aioswitcher/device/__init__.py
  tests/test_api_packet_crc_signing.py
  tests/test_api_tcp_client.py
  tests/test_device_dataclasses.py
Labels: status: approved, size: l

#726 fix: small missing part for device_key
  README.md
  docs/usage.md
  src/aioswitcher/api/__init__.py
  src/aioswitcher/device/__init__.py
Labels: status: approved, size: m

#735 fix: small missing part for device-key
  README.md
  docs/scripts.md
  docs/usage.md
Labels: status: approved, size: s

#736 fix: small missing part for device-key
  docs/usage.md
Labels: status: approved, size: xs

#737 fix: missing parts from last rebase
  README.md
  docs/scripts.md
  docs/usage.md
  poetry.lock
  src/aioswitcher/api/__init__.py
  src/aioswitcher/device/__init__.py
Labels: status: needs review, size: m

#750 chore: repo stuff
  .all-contributorsrc
  .github/CODEOWNERS
  README.md
Labels: status: needs review, size: s
