Repository TomerFi/aioswitcher, pull requests merged in 2024-05, with the labels that each got.

#766 chore: added token support in types and a convertion utility function
  pyproject.toml
  src/aioswitcher/bridge.py
  src/aioswitcher/device/__init__.py
  src/aioswitcher/device/tools.py
  tests/test_device_dataclasses.py
  tests/test_device_enum_helpers.py
  tests/test_device_tools.py
Labels: size: l, status: review started

#769 fix: incompatible toml-editor version in release workflow
  .github/workflows/release.yml
Labels: status: approved, size: xs

#771 fix: incompatible toml-editor version in release workflow (2)
  .github/workflows/release.yml
Labels: status: approved, size: xs

#772 chore: add poetry scripts
  README.md
  pyproject.toml
  scripts/control_device.py
  scripts/discover_devices.py
  scripts/get_device_login_key.py
Labels: status: approved, size: m
