Repository TomerFi/aioswitcher, pull requests merged in 2024-08, with the labels that each got.

#782 fix: missing parts and unalignments in scripts, readme, and control
  README.md
  docs/scripts.md
  scripts/control_device.py
  src/aioswitcher/api/__init__.py
  src/aioswitcher/device/tools.py
Labels: status: approved, size: l

#780 feat: runner s11 integration
  README.md
  docs/scripts.md
  docs/usage.md
  pyproject.toml
  scripts/control_device.py
  scripts/get_device_login_key.py
  scripts/validate_token.py
  src/aioswitcher/api/__init__.py
  src/aioswitcher/api/messages.py
  src/aioswitcher/api/packets.py
  src/aioswitcher/bridge.py
  src/aioswitcher/device/__init__.py
  src/aioswitcher/device/tools.py
  tests/test_api_tcp_client.py
  tests/test_device_dataclasses.py
  tests/test_device_enum_helpers.py
  tests/test_device_parsing.py
  tests/test_device_tools.py
  tests/testresources/dummy_responses/get_light_state_response.txt
  tests/testresources/dummy_responses/set_light_response.txt
  tests/testresources/test_device_parsing/test_a_single_runner_dual_light_datagram_produces_device.txt
Labels: status: approved, size: xxl

#784 fix: fix mac address for type2
  src/aioswitcher/bridge.py
  tests/test_udp_datagram_parsing.py
Labels: status: approved, size: m

#786 ci: add new make for lint with fix
  Makefile
Labels: status: approved, size: xs

#788 test: fix test was not persistent
  tests/test_schedule_tools.py
Labels: status: approved, size: xs

#789 ci: better release workflow
  .github/workflows/release.yml
Labels: status: needs review, size: s

#790 fix: add requests to deps
  pyproject.toml
Labels: status: approved, size: xs

#792 fix: make types-requests a dev dependency
  pyproject.toml
Labels: status: approved, size: s

#796 chore: remove requests and replace with aiohttp
  pyproject.toml
  scripts/validate_token.py
  src/aioswitcher/device/tools.py
  tests/test_device_tools.py
Labels: status: approved, size: m

#801 fix: add aiohttp to deps
  pyproject.toml
Labels: status: approved, size: xs

#799 fix: solving block ssl in validate token
  src/aioswitcher/device/tools.py
Labels: status: approved, size: xs
