Repository TomerFi/aioswitcher, pull requests merged in 2024-12, with the labels that each got.

#808 chore: refactoring code
  scripts/control_device.py
  src/aioswitcher/api/__init__.py
  src/aioswitcher/api/remotes.py
  src/aioswitcher/device/tools.py
  tests/test_device_tools.py
Labels: status: changes requested, size: l

#812 docs: redesigned docs site
  .all-contributorsrc
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/stage.yml
  CONTRIBUTING.md
  Makefile
  README.md
  docs/codedocs.md
  docs/index.md
  docs/install.md
  docs/scripts.md
  docs/supported.md
  docs/usage.md
  docs/usage_api.md
  docs/usage_bridge.md
  mkdocs.yml
  pyproject.toml
Labels: status: approved, size: xxl

#813 docs: docs leftover and fixup after previous redesign
  CONTRIBUTING.md
  README.md
  docs/scripts.md
  pyproject.toml
Labels: status: approved, size: m

#814 ci: workflow maintenance, bots cleanup, add dependabot
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/auto-me-bot.yml
  .github/dependabot.yml
  .github/stale.yml
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/stage.yml
  .github/workflows/stale.yml
  .vscode/settings.json
  README.md
  pyproject.toml
Labels: status: approved, size: l

#819 chore: bump min py to 3.12 and publish py to 3.13
  .github/workflows/pages.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/stage.yml
  .github/workflows/stale.yml
  pyproject.toml
  tests/test_device_tools.py
Labels: status: approved, size: m

#820 test: fixed tests failing in different timezones
  pyproject.toml
  tests/test_schedule_parser.py
Labels: status: approved, size: m

#822 chore: remove bridge broadcast ports and udp port mappings
  docs/scripts.md
  scripts/discover_devices.py
  src/aioswitcher/bridge.py
  tests/test_bridge.py
Labels: status: approved, size: l

#824 ci: updated dependabot rebase and versioning strategies
  .github/dependabot.yml
Labels: status: approved, size: xs

#821 fix: cleared multiple deperecation notices
  src/aioswitcher/device/tools.py
  src/aioswitcher/schedule/tools.py
  tests/test_schedule_tools.py
Labels: status: approved, size: s
